<header>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
      
</header>
<main>   
    <aside>
    <div>
        <ul>
            <li>Dashboard</li>
            <li>My Profie</li>
            <li>Health Metrics</li>
            <li>Messages</li>
            <li (click)="logout()">Logout</li>
        </ul>
    </div>
</aside>
<aside>
    <section class="metric-section">
        <form [formGroup]="healthMetricsForm" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()">
            <div>
                    <h1>Welcome {{userData?.username}}</h1>
            </div>
            <h1>Create / Update your Health Metrics</h1>
            <div>

                <mat-form-field appearance="fill">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type">
                        <mat-option value="blood_sugar">Blood Sugar</mat-option>
                        <mat-option value="blood_pressure">Blood Pressure</mat-option>
                        <mat-option value="weight">Weight</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                .
                <mat-form-field appearance="fill">
                    <mat-label>Value</mat-label>
                    <input matInput formControlName="value" maxlength="3" type="number" placeholder="Enter Value">
                </mat-form-field>
            </div>
          
            <button mat-raised-button color="primary" type="submit">Submit</button>
            </form>
    </section>

</aside>
<aside>
    <div class="dashboard-container">
        @for(metric of userMetrics; track metric){

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Your {{metric.type | separateText}} Metrics</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="main-content">

                        @if(userMetrics){
                            @for (item of metric.matchedDatas; track item) {
                                <p><strong>{{item.updatedAt | date:"dd-MMM-yy"}}: </strong></p>
                                <input type="number" [value]="item.value" #temValue min=0 max=999 (input)="0"> 
                                <mat-icon (click)="updateValue(temValue.value, item._id)" fontIcon="edit"></mat-icon>
                                 <mat-icon (click)="deleteValue(item._id)" fontIcon="delete"></mat-icon>
                            }
                        } @else{
                            
                            <div>No data available. Please log your health metrics.</div>
                        }
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="warn" (click)="showChart(metric)">show Chart</button>
                </mat-card-actions>
            </mat-card>
        }
    
    </div>

</aside>
</main>

@if(hideChart){
    <div class="chart-container">
        <h1>Your {{chartType}} Metrics</h1>
        <canvas baseChart 
        [data]="chartData" 
        [labels]="['slaes', 'marketing', 'development']"
        [type]="chartType">
    </canvas>
</div>
}
  