.dashboard-container{
        display: flex;
        height: 100vh;
        width: 60vw;
        margin: 0 auto;
        gap: 20px;
        background: #f5f5f5;
}
.chart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.main-content{
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
}
.metric-section{
    padding: 12px;
    padding: 12px;
    border: 1px solid #d1cfcf;
    width: 12rem;
}

mat-icon[fontIcon="edit"]{
    color: #00796b; /* Darker hospital blue */
    cursor: pointer;
    transition: color 0.3s ease;
}
mat-icon[fontIcon="edit"]:hover{
    color: #004d40; /* Darker hospital blue */
}
mat-icon[fontIcon="delete"]{
    color: #d32f2f; /* Red color for delete icon */
    cursor: pointer;
    transition: color 0.3s ease;
}
mat-icon[fontIcon="delete"]:hover{
    color: #b71c1c; /* Darker red for delete icon on hover */
}

mat-form-field{
    width: 100%;
}

main{
    display: flex;
}
mat-card{
    text-align: center;
    padding: 0px;
}

mat-card-content{
    margin-top: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #e0f7fa; /* Light hospital blue */
    color: #00796b; /* Darker hospital blue */
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    cursor: pointer;
    width: 100%; /* Take the width of the parent */
    box-sizing: border-box; /* Include padding in the width */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
li:hover{
    background-color: #00796b; /* Darker hospital blue */
    color: #fff;
}
input[type="number"] {
    width: 50px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

mat-card-actions{
    display: flex;
    justify-content: center;
}

main> :first-child{
    border: 1px solid #ccc;
    height: 100vh;
    width: 10rem;
}